* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background: #F5F5F5;
}
.all {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
}

/*Header*/
.header {
    background: #D3EDFC;
    width: 100%;
    height: 400px;
}

/*Tabs*/
.tab {
    display: flex;
    padding: 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    gap: 30px;
}
.tab__Description, .tab__Delivery, .tab__Payments {
    padding: 20px 30px;
    text-decoration: none;
    color: black;
}
.tab__Description:hover, .tab__Delivery:hover, .tab__Payments:hover {
    background: #EEEEEE;
    text-decoration: none;
    color: black;
}
.tab__Description:active, .tab__Delivery:active, .tab__Payments:active {
    background: #EEEEEE;
    text-decoration: none;
    color: black;
}

/*Sections*/
.Description, .Delivery, .Payments {
    display: none;
}
.Description:target, .Delivery:target, .Payments:target {
    display: block;
    width: 100%;
}

.Description-content, .Delivery-content, .Payments-content {
    display: flex;
    background: #EEEEEE;
    min-height: 800px;
    width: 100%;
}
.container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 30px 20px;
}
.row {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 20px;
}
.row__cell {
    background: #B0AFAF;
    border-radius: 4px;
    min-width: 260px;
    min-height: 30px;
}

.Description-section, .Delivery-section, .Payments-section {
    display: flex;    
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 20px;
    gap: 30px;
    width: 100%;
}
.Delivery-sectionAbout {
    display: flex;    
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 20px;
    gap: 30px;
    background: #FFFBD2;
    width: 100%;
}

.name {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}
.gallery {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 100%;
}
.gallery__item {
    width: 250px;
    height: 250px;
    background: #D3EDFC;
}

/*Sidebar*/
.sidebar {
    /*
    display: flex;
    flex-direction: column; 
    box-sizing: border-box;
    width: 350px;
    height: 970px;  
    */
    position: absolute;
    width: 350px;
    height: 970px;
    top: 260px;
    right: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.sidebar__main {
    width: 350px;
    height: 200px;
    background: #FAE205;
    border-radius: 8px 8px 0px 0px;
}
.sidebar__separator {
    width: 350px;
    height: 40px;
    background: #B0AFAF;
}

/*Footer*/
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
    background: #EEEEEE;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

